@charset "utf-8";
/* CSS Document */


.uc_solid_counter * { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.uc_solid_counter .uc_solid_counter_col{ width:100%; text-align: center; clear:both; overflow:hidden;}


.uc_solid_counter .uc_solid_counter_col .uc_counter_box{
	float:left;
	width: 23%; 
	margin: 0 1%;
	position:relative;
    font-family: 'Roboto', sans-serif;
	font-weight:400;
    padding:65px 0 69px;
}
.uc_solid_counter .uc_solid_counter_col .uc_counter_box h2{
	font-size:80px;
	font-weight:700;
    color:#fff;
	line-height: 106px;
}
.uc_solid_counter .uc_solid_counter_col .uc_counter_box span{
	line-height: 31px; 
	font-size:18px;
	font-weight:400;
	display:inline-block;
	text-transform:uppercase;
    color:#fff;
    font-weight:500;
    padding-top:8px;
}

@media screen and (max-width: 920px) {
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box h2{ font-size:60px;}
}
@media screen and (max-width: 800px) {
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box h2{ font-size:40px;}
}
@media screen and (max-width: 639px) {
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box h2{ font-size:34px;}
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box span{ font-size:12px;}
    .uc_solid_counter .uc_solid_counter_col .uc_counter_box{ padding:40px 0;}
}
@media screen and (max-width: 500px) {
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box h2{ font-size:34px;}
}
@media screen and (max-width: 413px) {
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box h2{ font-size:22px;}
	.uc_solid_counter .uc_solid_counter_col .uc_counter_box span{ font-size:9px;}
    .uc_solid_counter .uc_solid_counter_col .uc_counter_box{ padding:20px 0;}
}












