@charset "utf-8";
/* CSS Document */


.uc_mega_number_counter * { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.uc_mega_number_counter .uc_mega_number_counter_col{ width:100%; text-align: center; clear:both; overflow:hidden;}


.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box{
	float:left;
	width: 23%; 
	margin: 0 1%;
	position:relative;
    font-family: 'Oswald', sans-serif;
	font-weight:400;
    color:#22242a;
    padding:43px 0 41px;
    background:#fff;
}
.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box span.uc_corner{
    position:absolute;
    left:0;
    top:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
}
.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box h2{
	font-size:70px;
	font-weight:400;
	line-height: 106px;
}
.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box span{
	line-height: 31px; 
	font-size:15px;
	font-weight:400;
	display:inline-block;
	text-transform:uppercase;
}


@media screen and (max-width: 800px) {
	.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box h2{ font-size:40px;}
}
@media screen and (max-width: 639px) {
	.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box h2{ font-size:34px;}
	.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box span{ font-size:12px;}
    .uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box{ padding:40px 0;}
}
@media screen and (max-width: 500px) {
	.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box h2{ font-size:27px;}
}
@media screen and (max-width: 413px) {
	.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box h2{ font-size:22px;}
	.uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box span{ font-size:11px;}
    .uc_mega_number_counter .uc_mega_number_counter_col .uc_counter_box{ padding:20px 0;}
}












